{{input class="name" value=model.name}}
{{input class="funny" checked=model.funny type="checkbox"}}
<div class="nameDirty">{{model.nameIsDirty}}</div>
<div class="funnyDirty">{{model.funnyIsDirty}}</div>
