<select class="nine">
  {{#each filternine as |nine|}}
    <option value={{nine.id}}>{{nine.name}}</option>
  {{/each}}
</select>
<select class="eight">
  {{#each filtereight as |eight|}}
    <option value={{eight.id}}>{{eight.name}}</option>
  {{/each}}
</select>

{{#link-to 'wat' class='link-wat'}}wat{{/link-to}}
{{#link-to 'filters' class='link-filters'}}filters{{/link-to}}
